:root {
    --text: #ffffff;
    --background: #202020;
    --light-bg: #404040;
    --dark-bg: #101010;
    --mid-bg: #303030;
    --accent-color: #00ff00;
    --dark-ac: #008000;
}

* {
    font-family: roboto;
    padding: 0px 0px;
    margin: 0px 0px;
}

body {
    color: var(--text);
    background: var(--background);
}

#btn {
    background: var(--accent-color);
    width: 250px;
    height: 250px;
    margin: 10px;
    border: none;
    transition: background-color 0.333s ease 0s, box-shadow 0.1s ease 0s;
    box-shadow: 0px 0px 25px var(--accent-color);
    border-radius: 125px;
}

#btn:active {
    box-shadow: none;
}

#counter {
    font-size: 50px;
    margin: 10px;
}

.center {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.upg {
    color: var(--text);
    background: var(--background);
    border: 1px solid var(--light-bg);
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.333s ease 0s;
    cursor: pointer;
}

.upg:hover {
    border-color: var(--accent-color);
    background: var(--dark-bg);
    box-shadow: 0px 0px 25px var(--accent-color);
}

.btn {
    color: var(--text);
    background: var(--background);
    border: 1px solid var(--light-bg);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.333s ease 0s;
    cursor: pointer;
}

.btn:hover {
    border-color: var(--accent-color);
    background: var(--dark-bg);
    box-shadow: 0px 0px 25px var(--accent-color);
}

#btnred {
    width: 75px;
    color: #ff0000;
}

#btnred:hover {
    border-color: #ff0000;
    background: var(--dark-bg);
    box-shadow: 0px 0px 25px #ff0000;
}

#btngreen {
    width: 75px;
    color: #00ff00;
}

#btngreen:hover {
    border-color: #00ff00;
    background: var(--dark-bg);
    box-shadow: 0px 0px 25px #00ff00;
}

#btnblue {
    width: 75px;
    color: #0000ff;
}

#btnblue:hover {
    border-color: #0000ff;
    background: var(--dark-bg);
    box-shadow: 0px 0px 25px #0000ff;
}

#btnblank {
    width: 75px;
    color: #ffffff;
}

#btnblank:hover {
    border-color: #ffffff;
    background: var(--dark-bg);
    box-shadow: 0px 0px 25px #ffffff;
}

.container {
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background: var(--background);
    border: 1px solid var(--light-bg);
}

.btmleft {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.btmright {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
